:root {
  --primary-color: #b00000;
}
/* Navbar RE */
@media (max-width: 853px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
    top: 0;
    left: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
  }
  .navbar .menu.active {
    display: block;
    background-color: #22222a;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .logo a {
    font-size: 30px;
    font-weight: 500;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    color: var(--primary-color);
  }
  .navbar.sticky,
  .navbar {
    padding: 2px 0;
  }
}
/* Devices  phones */
@media (max-width: 470px) {
  #jumbotron {
    height: 500px;
  }
  #jumbotron .welcome {
    font-size: 27px;
    color: var(--primary-color);
  }
  #jumbotron p {
    font-size: 20px;
  }
  a button {
    font-size: 17px;
    width: 140px;
    height: 45px;
  }
  .title-section {
    font-size: 21px;
  }
   .title-project a {
    font-size: 17px;
  }
  .container {
    width: 100%;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 38px;
    font-size: 23px;
    line-height: 38px;
    border-radius: 50%;
  }
}
/* Devices tablets */
@media (min-width: 470px) {
  #jumbotron .welcome {
    font-size: 5vw;
  }
  #jumbotron p {
    padding-top: 20px;
    font-size: 3vw;
  }
  button {
    font-size: 17px;
    width: 180px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
  }
  .title-project h2 {
    font-size: 20px;
  }
  .title-project a {
    font-size: 12px;
    font-weight: 800;
  }
  .project-album {
    display: flex;
    justify-content: space-between;
  }
  .container {
    width: 44%;
    margin: 15px 16px;
  }
}
/* Devices tablets */
@media (min-width: 609px) {
  #jumbotron .welcome {
    font-size: 40px;
  }
  #jumbotron p {
    font-size: 30px;
  }
  .title-project a {
    font-size: 19px;
    font-weight: 800;
  }
  #contact {
    text-align: center;
    font-size: 30px;
  }
}
/* evices large desktops */
@media (min-width: 918px) {
  .project-album {
    display: flex;
    justify-content: space-around;
  }
  .container {
    width: 30%;
    margin: 15px 10px;
  }
}
