/* Navbar styles*/
.tombol {
  text-transform: uppercase;
  border-radius: 50px !important;
}
/* ByLink styles */
.contain{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.box{
  display: flex;
  width: 90%;
  height: 60px;
  border-radius: 10px;
  background-color: #22222a;
  margin: 9px;
  overflow: hidden;
}
.icon{
  width: 70px;
  height: 100%;
  background-color: crimson;
}
.conten{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  color: white;
  font-size: 23px;
  font-weight: bold;
}

/* Desktop Version*/
@media (min-width: 992px) {
  .navbar-nav {
    text-transform: uppercase;
  }
  .nav-link {
    margin: 0 8px;
  }
  .btn {
    margin-left: 20px;
  }
  .nav-link:hover::after {
    content: " ";
    display: block;
    border-bottom: 3px solid crimson;
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .nav-link:hover {
    color: crimson !important;
  }
}

/* Tablets Version*/
@media (min-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
  .box{
    width: 47%;
    height: 100px;
    border-radius: 10px;
  }
}
/* Phone Version*/
@media (min-width: 576px) {
}
