/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

/* all similar content styling codes */
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* footer section styling */
footer {
  background: #22222a;
  color: #fff;
  padding: 20px 0 25px 0;
  text-align: center;
  font-family: Poppins;
  font-weight: bold;
}
footer span a {
  color: crimson;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 991px) {
  .max-width {
    padding: 0 25px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .max-width {
    max-width: 930px;
  }
}

@media (max-width: 500px) {
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 38px;
    font-size: 23px;
    line-height: 38px;
    border-radius: 50%;
  }
  .navbar {
    padding: 10px 0;
  }
  .navbar.sticky {
    padding: 10px 0;
  }
  .navbar .logo a {
    font-size: 25px;
    font-weight: 600;
  }
  footer {
    margin-top: 59px;
    font-weight: normal;
    padding: 8px 0 16px 0;
  }
}
