html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", Sans-Serif;
}
svg {
  margin-top: -1px;
}
/*jumbotron styles start*/
#jumbotron {
  display: flex;
  height: 600px;
  background-color: #22222a;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
#jumbotron .welcome {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-size: 60px;
}
#jumbotron p {
  text-align: center;
  font-size: 40px;
  width: 80%;
  margin-bottom: 80px;
}
.btn {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 24px;
  color: crimson;
  width: 210px;
  height: 75px;
  border-radius: 50px;
  border: 4px solid crimson;
  cursor: pointer;
}
.btn:hover {
  background-color: crimson;
  color: white;
  transition: 0.5s ease;
}
/* Project */
#option {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: Nunito sans;
  font-weight: bold;
  font-size: 20px;
}
.conten {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  font-size: 25px;
}
#list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(50, 50, 50);
}
.project-album {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: space-between;
}
.container {
  position: relative;
  width: 296px;
  margin: 15px 15px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.image:hover {
  box-shadow: 5px 4px 7px #9b9b9b;
}
a {
  color: rgb(50, 50, 50);
}
.text {
  font-size: 12px;
}

/*Responsive Web Design*/
@media (max-width: 644px) {
  #jumbotron {
    height: 410px;
  }
  #jumbotron .welcome {
    font-size: 23px;
  }
  #jumbotron p {
    font-size: 15px;
    width: 90%;
    margin-bottom: 60px;
  }
  .btn {
    font-size: 14px;
    width: 111px;
    height: 40px;
    border-width: 2px;
  }
  #option {
    font-size: 11px;
  }
  .conten {
    padding: 0 6px;
    font-size: 10px;
  }
  .container {
    width: auto;
  }
  .text {
    font-weight: 500;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  #jumbotron {
    height: 400px;
  }
  #jumbotron .welcome {
    font-size: 20px;
  }
  #jumbotron p {
    font-size: 14px;
    width: 90%;
    margin-bottom: 60px;
  }
}
