/*Font Design*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;500;600&family=Ubuntu:wght@400;500;700&display=swap");

/*Root*/
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", Sans-Serif;
}
svg {
  margin-top: -1px;
}
#bawang {
  margin-bottom: -7px;
}
.title-section {
  color: rgb(50, 50, 50);
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 35px;
}
.title-section span {
  color: var(--primary-color);
}

/* navbar styling */
.max-width {
  padding: 0 20px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  padding: 30px 0;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: var(--primary-color);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.navbar .logo a span {
  color: var(--primary-color);
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 25px;
  margin-left: 25px;
}

/*jumbotron styles start*/
#jumbotron {
  display: flex;
  height: 600px;
  background-color: #22222a;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
#jumbotron .welcome {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-size: 60px;
}
#jumbotron p {
  text-align: center;
  font-size: 40px;
  width: 80%;
  margin-bottom: 80px;
}
button {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-color);
  width: 210px;
  height: 75px;
  border-radius: 50px;
  border: 4px solid var(--primary-color);
  cursor: pointer;
  transition: 0.5s ease;
}
button:hover {
  background-color: var(--primary-color);
  color: white;
}
/*Project styles start*/
#myproject {
  margin-top: 2rem;
}
.title-project {
  display: flex;
  margin: 0 15px;
  align-items: center;
  justify-content: space-between;
  color: rgb(50, 50, 50);
}
.title-project h2 {
  font-size: 26px;
  font-weight: 900;
}
.title-project a {
  font-size: 24px;
  font-weight: 800;
  color: #8d8d8d;
  font-family: "Nunito sans", Sans-Serif;
}
.title-project a:hover {
  color: var(--primary-color);
  transition: 0.5s ease;
}
.project-album {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: flex-start;
}
.container {
  position: relative;
  width: 296px;
  margin: 15px 15px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2%;
  box-shadow: 5px 6px 14px -9px #000000;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(9, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 2%;
}
.container:hover .overlay {
  height: 100%;
}
.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text span {
  color: var(--primary-color);
}

/* contact ease styling */
#contact {
  padding: 0 20px;
}
.contact a {
  color: #22222a;
  font-family: "Poppins", sans-serif;
}
.judul-kontak {
  text-align: center;
  margin-bottom: 20px;
}

/* footer section styling */
footer {
  background: #22222a;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
}

/*Button Up*/
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 60px;
  width: 57px;
  background: var(--primary-color);
  right: 30px;
  bottom: 40px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  z-index: 9999;
  font-size: 40px;
  border-radius: 10px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}
